In [50]:
import pandas as pd
from sqlalchemy import create_engine

In [51]:
engine = create_engine("postgresql://root:root@localhost:5555/ny_taxi")

In [52]:
trip = pd.read_parquet("data/yellow_tripdata_2021-01.parquet")

In [53]:
trip.to_csv("data/yellow_tripdata_2021-01.csv")

In [54]:
print(pd.io.sql.get_schema(trip, "yellow_trip_data"))

CREATE TABLE "yellow_trip_data" (
"VendorID" INTEGER,
  "tpep_pickup_datetime" TIMESTAMP,
  "tpep_dropoff_datetime" TIMESTAMP,
  "passenger_count" REAL,
  "trip_distance" REAL,
  "RatecodeID" REAL,
  "store_and_fwd_flag" TEXT,
  "PULocationID" INTEGER,
  "DOLocationID" INTEGER,
  "payment_type" INTEGER,
  "fare_amount" REAL,
  "extra" REAL,
  "mta_tax" REAL,
  "tip_amount" REAL,
  "tolls_amount" REAL,
  "improvement_surcharge" REAL,
  "total_amount" REAL,
  "congestion_surcharge" REAL,
  "airport_fee" REAL
)

In [56]:
trip = pd.read_csv("data/yellow_tripdata_2021-01.csv", parse_dates=["tpep_pickup_datetime", "tpep_dropoff_datetime"], iterator=True, chunksize=10000, index_col=0)

In [57]:
for chunk in trip:
    chunk.to_sql("yellow_trip_data", con=engine, if_exists="append")

In [34]:
zones = pd.read_csv("data/taxi+_zone_lookup.csv")

In [35]:
print(pd.io.sql.get_schema(zones, "zones"))

CREATE TABLE "zones" (
"LocationID" INTEGER,
  "Borough" TEXT,
  "Zone" TEXT,
  "service_zone" TEXT
)

In [36]:
zones.to_sql("zones", con=engine, if_exists="replace")

265

In [7]:
trip.shape

(1369769, 19)

In [8]:
zones.shape

(265, 4)